#usecaseList {
  list-style-type: none;
  padding-left: 0px;
  width: 700px;
}
.usecaseListItem {
  background-color: #bfffca;
  padding: 5px;
  min-height: 80px;
}
#usecaseList .usecaseListItem:nth-child(odd) {
  background-color: #bfebff;
}

/*
#usecaseList li {
  background-color: #bfffca;
  padding: 5px;
  min-height: 80px;
}
#usecaseList li:nth-child(odd) {
  background-color: #bfebff;
}
*/

.connectionsList {
  list-style-type: none;
  padding-left: 0px;
}
.connectionsList li {
  padding: 5px !important;
  min-height: 0px !important;
}
.connectionsList li:nth-child(odd) {
}
.usecase-div-image {
  max-height: 80px;
  margin-right: 5px;
}

.usecase-img {
  width: 100px;
  float: left;
}

.usecase-div-description {
  margin-left: 110px;
}

.clear {
  clear: both;
}
