#usecaseList {
  list-style-type: none;
  padding-left: 0px;
  width: 700px;
}
#usecaseList li {
  background-color: #bfffca;
  padding: 5px;
  min-height: 80px;
}
#usecaseList li:nth-child(odd) {
  background-color: #bfebff;
}
.usecase-image {
  max-height: 80px;
  margin-right: 5px;
}

.uc-image {
  height: 100%;
  float: left;
  display: inline;
}

.uc-description {
  display: inline;
}
