#usecaseList {
  list-style-type: none;
  padding-left: 0px;
  width: 700px;
}
#usecaseList li {
  background-color: #bfffca;
  padding: 5px;
}
#usecaseList li:nth-child(odd) {
  background-color: #bfebff;
}
